<h1>{{pageTitle}}</h1>
<h2>Interpolation</h2>
<img src={{imageUrl}} alt="">
<button mat-raised-button color="primary" disabled={{btnStatus}}>Click</button>

<h2>Property Binding</h2>
<img [src]="imageUrl" alt="">\
<button mat-raised-button color="primary" [disabled]='btnStatus'>Click</button>

<h2>Event Binding</h2>
<button mat-raised-button color="primary" (click)="changeTitle()">Change Title</button>

<h2>Two Way Binding</h2>
<input type="text" [(ngModel)]="username" />
<h4>Welcome {{username}}</h4>