<h1>{{pageTitle}}</h1>

<div *ngIf="users.length>0; else noUsers">
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Salary</th>
            <th>DOB</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.street}}</td>
        </tr>
    </table>
</div>

<ng-template #noUsers>
    <p>{{errorMessage}}</p>
</ng-template>