<mat-toolbar color="primary">
    <div class="example-sidenav-content"></div>
    <span>Angular Beginner</span>
    <span class="example-spacer"></span>
    <ul>
        <li><a routerLink="/">Data-Binding</a></li>
        <li><a routerLink="directives">Directives</a></li>
        <li><a routerLink="parent">Parent</a></li>
        <li><a routerLink="service">Service</a></li>

    </ul>
    <button type="button" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>